@import "./variables";
@import "./layout";


* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans";
    text-align: justify;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-family: 'Poiret One';
}

p {
    line-height: 1.5em;
}

ul {
    margin: 24px 0;
}

li {
    margin-bottom: 4px;
}

button {
    @extend .btn;
    &[type="submit"] {
        @extend .btn-primary;
    }
}

.clear {
    clear: both;
}

.responsive {
    max-width: 100%;
}

// Fixing Bootstrap issue (see https://github.com/twbs/bootstrap/issues/14040)
.modal-open .navbar-fixed-top {
    padding-right: 15px;
}

.modal-dialog {
    .modal-header {
        background: $brand-primary;
        color: $brand-primary-text;
    }
}
