@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-top: 60px;
}

header {
    .navbar {
        margin-bottom: 0;
        @extend .navbar-fixed-top;
    }
    .navbar-default {
        background: $brand-primary;
        border: 0;
        a {
            color: $brand-primary-text !important;
        }
        .navbar-brand {
            font-family: $title-font;
            font-size: 3em;
        }
    }
    .navbar-nav > li > a {
        padding-top: 18px;
        padding-bottom: 12px;
    }
}

footer {
    margin-top: 0;
    background: $brand-primary;
    color: $brand-primary-text;
    padding: 30px 0;
    a {
        color: #fff;
        &:hover {
            text-decoration: none;
            color: #999;
        }
    }
    h5 {
        font-family: inherit;
    }
    ul {
        @extend .list-unstyled;
        margin-top: 0;
    }
    p {
        @extend .container;
        text-align: center;
        margin-bottom: 0;
    }
    .social-networks {
        @extend .list-unstyled;
        @extend .list-inline;
    }
}
