@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";

body {
    padding-top: 60px;
}

header {
    .navbar {
        margin-bottom: 0;
        @extend .navbar-fixed-top;
        & > .container .navbar-brand {
            margin: 0;
        }
    }
    .navbar-default {
        background: $brand-primary;
        padding: 10px 0;
        border: 0;
        a {
            display: inline-block;
            color: $brand-primary-text !important;
        }
        .navbar-brand {
            img {
                display: inline-block;
                margin-top: -8px;
            }
            font-family: $title-font;
            font-size: 3em;
            margin: 0;
            @media (max-width: $screen-sm-max) {
                width: 100%;
                text-align: center;
            }
        }

        .navbar-nav > li > a {
            padding: 13px;
            outline: 0;
        }
    }
}

footer {
    margin-top: 0;
    background: $brand-primary;
    color: $brand-primary-text;
    padding: 30px 0;
    a {
        color: #fff;
        &:hover {
            text-decoration: none;
            color: #999;
        }
    }
    h5 {
        font-family: inherit;
    }
    ul {
        @extend .list-unstyled;
        margin-top: 0;
    }
    p {
        @extend .container;
        text-align: center;
        margin-bottom: 0;
    }
    .social-networks {
        @extend .list-unstyled;
        @extend .list-inline;
    }
}
