$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$title-font: 'Poiret One';

$text-color: #212121;
$brand-primary: #2B2B2B;
$brand-primary-text: #eee;
$brand-dark-background: #F6F6F6;
$brand-dark-background-text: $text-color;
$brand-highlighted: #DE1B1B;
