$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$title-font: 'Poiret One';

$text-color: #212121;

// Mint colors
$brand-primary: #585858;
$brand-primary-text: #eee;
$brand-dark-background: #118C4E;
$brand-dark-background-text: #eee;
$brand-highlighted: #FF9009;

//// Nordic Ruby
//$brand-primary: #4A96AD;
//$brand-primary-text: #eee;
//$brand-dark-background: #F5F3EE;
//$brand-dark-background-text: $text-color;
//$brand-highlighted: #7D1935;
//
//// Cheese Survival Kit
//$brand-primary: #2B2B2B;
//$brand-primary-text: #eee;
//$brand-dark-background: #F6F6F6;
//$brand-dark-background-text: $text-color;
//$brand-highlighted: #DE1B1B;

// Event Finds
$brand-primary: #558C89;
$brand-primary-text: #eee;
$brand-dark-background: #ECECEA;
$brand-dark-background-text: $text-color;
$brand-highlighted: #D9853B;
//
////// Big Top
//$brand-primary: #C63D0F;
//$brand-primary-text: #eee;
//$brand-dark-background: #FDF3E7;
//$brand-dark-background-text: $text-color;
//$brand-highlighted: #7E8F7C;

//// Big Top
//$brand-primary: #585858;
//$brand-primary-text: #eee;
//$brand-dark-background: #8C4011;
//$brand-dark-background-text: #eee;
//$brand-highlighted: #7E8F7C;
