@import "./default";

@import "compass/css3/box-shadow";

.overview {
    @extend .container-fluid;
    padding: 40px 0;
    background: #eee;
    h2 {
        margin-bottom: 0.5em;
    }
    article {
        @extend .container;
        .video {
            position: relative;
            .play {
                position: absolute;
                top: 0;
                left: 0;
                left: 50%;
                top: 50%;
                width: 48px;
                height: 48px;
                margin-left: -24px;
                margin-top: -24px;
                @extend .glyphicon;
                @extend .glyphicon-play-circle;
                font-size: 64px;
                color: $brand-primary;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            }
            margin-bottom: 30px;
        }
    }
}

.main-feature, .testimonies {
    @extend .container;
    margin: 60px auto;
}

.call-to-action {
    text-align: center;
    button {
        @extend .btn-lg;
        background: $brand-primary;
        color: #fff;
    }
}

.mobile-compliant {
    background: #eee;
    img {
        margin: -50px auto;
        border-radius: 50px;
    }
    margin-bottom: 110px;
}

.features {
    padding: 40px 0 40px;
    background: #eee;
    article {
        @extend .container;
        .row {
            margin-bottom: 50px;
            .feature {
                @extend .col-md-4;
                text-align: center;
                h3 {
                    font-size: 1.2em;
                }
                p {
                    color: #444;
                }
            }
        }
    }
}

.call-to-action-section {
    @extend .container;
    padding: 40px 0;
}
