@import "./default";

@import "compass/css3/box-shadow";

.motto {
    @extend .container-fluid;
    @extend .highlighted;
    text-align: center;
    padding: 130px 0;
    img {
        margin: 30px auto;
        border-radius: 200px;
    }
    blockquote {
        background: none;
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 2em;
    }
    .author {
        text-align: center;
        margin: 20px auto;
    }
}

.overview {
    @extend .container-fluid;
    padding: 40px 0;
    margin: 40px 0;
    p {
        @media (min-width: $screen-md-min) {
            padding: 0 30px;
        }
        @media (min-width: $screen-lg-min) {
            padding: 40px 30px;
        }

        font-size: 1.7em;
    }
    img {
        margin-bottom: 1.5em;
    }
    article {
        @extend .container;
        .video {
            position: relative;
            .play {
                position: absolute;
                top: 0;
                left: 0;
                left: 50%;
                top: 50%;
                width: 48px;
                height: 48px;
                margin-left: -24px;
                margin-top: -24px;
                @extend .glyphicon;
                @extend .glyphicon-play-circle;
                font-size: 64px;
                color: $brand-primary;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            }
            margin-bottom: 30px;
        }
    }
}

.testimonials {
    .testimonial {
        @extend .clearfix;
        margin-bottom: 40px;
        blockquote {
            padding: 60px 0;
            @media (max-width: $screen-md-min) {
                padding: 30px 0;
            }
        }
        @media (max-width: $screen-sm-max) {
            img {
                display: block;
                margin: auto;
            }
        }
        @media (min-width: $screen-md-min) {
            &:nth-child(odd) {
                img {
                    float: left;
                    margin-right: 30px;
                }
            }
            &:nth-child(even) {
                img {
                    float: right;
                    margin-left: 30px;
                }
            }
        }
    }
    margin: 60px auto;
}

.call-to-action {
    text-align: center;
    margin: 60px 0;
    button {
        @extend .btn-lg;
        padding: 20px;
        font-weight: bold;
        font-size: 1.5em;
        background: $brand-highlighted;
        color: #fff;
    }
}

.mobile-compliant {
    @extend .highlighted;
    img {
        margin: -50px auto;
        border-radius: 50px;
    }
    margin-bottom: 110px;
}

.features {
    padding: 40px 0 40px;
    @extend .highlighted;
    article {
        @extend .container;
        .row {
            margin-bottom: 50px;
            @media (max-width: $screen-md-min) {
                margin-bottom: 0;
            }
            .feature {
                @extend .col-sm-3;
                @media (max-width: $screen-md-min) {
                    margin: 50px auto;
                }

                text-align: center;
                cursor: pointer;
                img {
                    height: 48px;
                    display: inline-block;
                }
                h3 {
                    font-size: 1.15em;
                    font-family: "Open Sans";
                }
                p {
                    color: #444;
                }
            }
        }
    }
}

.call-to-action-section {
    @extend .container;
    padding: 40px 0;
}

.launch-video {
    position: relative;
    .play {
        @extend .glyphicon;
        @extend .glyphicon-play-circle;
        text-align: center;
        font-size: 72px;
        color: lighten($brand-primary, 30);
        display: inline-block;
        position: absolute;
        width: 74px;
        height: 74px;
        background: #fff;
        border-radius: 36px;
        border: 2px solid #fff;
        top: 50%;
        left: 50%;
        margin-left: -37px;
        margin-top: -37px;
        @include transition(all 0.5s ease);
    }
    &:hover .play {
        color: $brand-primary;
    }
}

#video-modal {
    .modal-dialog {
        width: 90%;
        max-width: 1280px;
    }
    .modal-content {
        border-radius: 0;
    }
}
