$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$brand-primary: #F2BA34;
$text-color: #212121;

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "compass/css3/box-shadow";

body {
    font-family: "Open Sans";
    text-align: justify;
}

header {
    @extend .container-fluid;
    padding: 20px 0;
    background: #353B41;
    color: #fff;
    & > div {
        @extend .container;
        height: 100%;
        h1 {
            font-weight: normal;
            height: 100%;
            line-height: 100%;
            margin: 0;
            font-family: "Poiret One";
            font-size: 3.5em;
        }
    }
}

.motto {
    @extend .container;
    margin: 50px auto;
    .blockquote {
        @extend .col-md-8;
        text-align: right;
        h1 {
            line-height: 1.5em;
        }
        .author {
            color: #999;
            font-size: 1.5em;
            padding-right: 30px;
        }
    }
    .picture {
        @extend .col-md-4;
        img {
            width: 190px;
            border-radius: 100px;
        }
    }
}

.overview {
    @extend .container-fluid;
    font-size: 1.1em;
    color: #423838;
    background-color: $brand-primary;
    article {
        @extend .container;
        margin: 60px auto;
        .carousel {
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); // @TODO: use mixin
            @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 12px);
        }
        h2 {
            font-size: 24px;
        }

        .call-to-action {
            $callToActionColor: #EF211B;
            margin-top: 40px;
            text-align: center;
            button {
                @extend .btn-lg;
                background-color: $callToActionColor;
                &:hover {
                    background-color: darken($callToActionColor, 5);
                }
                color: #fff;
                outline: none;
            }
        }
    }
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-family: 'Merriweather';
}

p {
    line-height: 1.5em;
}

ul {
    margin: 24px 0;
}

li {
    margin-bottom: 4px;
}

button {
    @extend .btn;
    &[type="submit"] {
        @extend .btn-primary;
    }
}

.carousel {
    .carousel-control {
        background-image: none;
    }
    .carousel-caption {
        background: rgba(0, 0, 0, 0.7);
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 0 10px;
    }
}

.testimonials {
    @extend .container-fluid;
    margin: 40px auto;
    h3 {
        margin-top: 0;
    }
    article {
        @extend .container;
        .testimonials {
            @extend .row;
            .testimonial {
                @extend .col-md-6;
                padding-right: 40px;
                img {
                    float: left;
                    margin: 30px 10px 0 0;
                }
                .author {
                    text-align: right;
                }
            }
        }
    }
}

.features-section {
    background: #eee;
    padding: 40px 0 40px;
    article {
        @extend .container;
        .row {
            margin-bottom: 50px;
            .feature {
                @extend .col-md-3;
                text-align: center;
                h3 {
                    font-size: 1.2em;
                }
                p {
                    color: #444;
                }
            }
        }
    }
}

footer {
    margin-top: 0;
    background: #353B41;
    color: #fff;
    padding: 15px;
    p {
        @extend .container;
        text-align: center;
        margin-bottom: 0;
    }
}

.clear {
    clear: both;
}

.modal {
    .modal-header {
        background-color: #353B41;
        color: #fff;
        .close {
            color: #fff;
        }
    }
    .modal-footer {
        background-color: #eee;
    }
}
