<footer class="container-fluid">
    <div class="container">
        <div class="col-md-3">
            <h5>misocell.io</h5>
        </div>
        <div class="col-md-3">
            <h5>Links</h5>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Terms and conditions</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5>Social networks</h5>
            <ul class="social-networks">
                <li><img class="placeholder" src="http://placehold.it/48x48" alt="" class="responsive"/></li>
                <li><img class="placeholder" src="http://placehold.it/48x48" alt="" class="responsive"/></li>
                <li><img class="placeholder" src="http://placehold.it/48x48" alt="" class="responsive"/></li>
                <li><img class="placeholder" src="http://placehold.it/48x48" alt="" class="responsive"/></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5>Contact</h5>
            <ul class="list-unstyled">
                <li><a href="mailto:{{ site.config.contact.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ site.config.contact.email }}</a></li>
                <li><span class="glyphicon glyphicon-earphone"></span> +33 (0)00 000 0000</li>
            </ul>
        </div>
    </div>
</footer>
