<footer class="container-fluid">
    <div class="container">
        <div class="col-md-3">
            <h5>misocell.io</h5>
            <p>A <a href="http://marmelab.com/en/">marmelab</a> service</p>
        </div>
        <div class="col-md-3">
            <h5>Links</h5>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Terms and conditions</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5>Social networks</h5>
            <ul class="social-networks">
                <li>
                    <a href="https://twitter.com/misocell">
                        <img src="/img/twitter.png" alt="misocell on Twitter" title="Follow @misocell on Twitter" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5>Contact</h5>
            <ul class="list-unstyled">
                <li><a href="mailto:{{ site.config.contact.email }}"><span class="envelope"></span> {{ site.config.contact.email }}</a></li>
            </ul>
        </div>
    </div>
</footer>
