<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/img/misocell.png" alt="misocell.io"/>
                misocell.io
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#overview">Overview</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="mailto:{{ site.config.contact.email }}">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
